{% extends 'catalog/base.html' %}


{% block title %} Контакты {% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Контакты</h1>
</div>

<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Страна</td>
                            <td>Российская Федерация</td>
                        </tr>
                        <tr>
                            <td class="w-25">Регион</td>
                            <td>Краснодарский край</td>
                        </tr>
                        <tr>
                            <td class="w-25">Адрес</td>
                            <td>г. Неизвестный, ул. Примерная, д. 123.</td>
                        </tr>
                        <tr>
                            <td class="w-25">Email</td>
                            <td>info@example.com</td>
                        </tr>
                        <tr>
                            <td class="w-25">Телефон</td>
                            <td>+7(123)456-78-90</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal">Свяжитесь с нами</h5>
                </div>
                <div class="card-body">
                    <h6>Форма обратной связи</h6>
                    <form method="post">
                        {% csrf_token %}
                        <label for="name">Имя:</label><br>
                        <input type="text" name="name"  class="form-control" id="name" placeholder="Введите ваше имя" required><br>
                        <label for="email">Email:</label><br>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Введите ваш email" required><br>
                        <label for="message">Сообщение:</label><br>
                        <textarea name="message" class="form-control" id="message" rows="4" placeholder="Введите ваше сообщение" required></textarea><br>
                        <button type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}