{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h3>{{ product.name }}</h3>
                </div>
                <div class="card-body">
                    <p>{{ product.category.description }}</p>
                    <a href="{% url 'catalog_product:product_info' catalog.pk %}"
                       class="w-100 btn btn-lg btn-outline-Light btn btn-primary">
                        Подробнее
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

